.card-item{
    width: 96%;
    margin: 0 auto;
    color: #b6b6b6;
    font: 18px Century Gothic Bold;
    border-bottom: 1px solid #265274;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;

    &__category{
        display: flex;
        flex-direction: column;
    }

    &__image{
        background-color: #2A265F;
        min-height: 70px;
        min-width: 70px;
        border-radius: 10px;
        box-sizing: border-box;
        position: relative;

        img{
            border-radius: 10px;
        }
    }

    &__title{
        text-align: center;
        margin-left: 5px;
        color: #23a1d1;
        font: 18px Century Gothic Bold;
        font-weight: 600;
    }

    &__subcategories{
        display: flex;
        justify-content: center;
        margin-top: 10px;

        &_btn{
            min-height: 35px;
            min-width: 60px;
            padding: 5px 10px;
            background-color: #2984c6;
            text-transform: uppercase;
            color: #fff;
            font-size: 14px;
        }
    }
}